<?xml version="1.0" encoding="UTF-8"?>


<configuration scan="true">                                                                                                                                                                                                                               
 
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern> %d{HH:mm:ss} [%-5level] - %msg%n</pattern>
    </encoder>
  </appender>                             
 
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>sortomatic.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>                                                                                                                                                                                                    
 
  <!-- Configure so that it outputs to both console and log file -->                                                                                                                                                                          
  <root level="debug">                                                                                                                                                                                                         
    <appender-ref ref="FILE" />                                                                                                                                                  
    <appender-ref ref="STDOUT" />                                                                                                                                                         
  </root>                                                                                                                                                                                                                                     
</configuration>   